.jumbotron
{
    color: white;
    height: 470px;
    background: #3192d2;
}

.jumbotron .btn-primary, .jumbotron .btn-success
{
    border-color: #efefef;
    margin-top: 10px;
    margin-right: 20px;
}

#highlights
{
    margin-bottom: 50px;
}