body
{
    olor: #333333;
}

.navbar-brand
{
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron
{
    padding-top: 100px;
    color: white;
    background: #3192d2;
}

.jumbotron .btn-primary, .jumbotron .btn-success
{
    border-color: #efefef;
    margin-top: 10px;
    margin-right: 20px;
}

.footer-links
{
    list-style: none;
    padding-left: 0;
}

.footer-links li
{
    display: inline;
    padding: 0 2px;
}



blockquote
{
    color: #777;
}

code
{
    color: #666666;
    background: #f8f8f8;
    border: 1px solid #eee;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre
{
    margin: 14px 0;
}

.markdown-body
{
    font-size: 16px;
    line-height: 1.7;
    overflow: hidden;
    word-wrap: break-word;
}

.markdown-body h1 a,
.markdown-body h1 a:hover,
.markdown-body h2 a,
.markdown-body h2 a:hover,
.markdown-body h3 a,
.markdown-body h3 a:hover,
.markdown-body h4 a,
.markdown-body h4 a:hover,
.markdown-body h5 a,
.markdown-body h5 a:hover,
.markdown-body h6 a,
.markdown-body h6 a:hover
{
    color: black;
    text-decoration: none;
}



.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6
{
    margin: 1em 0 14px;
    padding: 0;
    line-height: 1.7;
    cursor: text;
    position: relative;
}

.markdown-body h1
{
    font-size: 2.5em;
    border-bottom: 1px solid #ddd;
}

.markdown-body h2
{
    font-size: 2em;
    border-bottom: 1px solid #eee;
}

.markdown-body h3
{
    font-size: 1.5em;
}


h2
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

ul.link-list
{
    margin: 0;
    padding-left: 20px;
}

ul.link-list li
{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}