body
{
    padding-top: 50px;
}

.navbar
{
    
}

.navbar-brand
{
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron
{
    height: 450px;
    color: white;
    background: #3192d2;
}

.jumbotron .btn-primary
{
    border-color: #efefef;
    margin-top: 10px;
    margin-right: 20px;
}

.footer
{
    font-size: smaller;
    color: #999;
}

.footer .container p
{
    
}

.footer-links
{
    list-style: none;
    padding-left: 0;
}

.footer-links li
{
    display: inline-block;
}