body
{
    padding-top: 50px;
}

.navbar-brand
{
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron
{
    color: white;
    height: 480px;
    background: #3192d2;
}

.jumbotron .btn-primary, .jumbotron .btn-success
{
    border-color: #efefef;
    margin-top: 10px;
    margin-right: 20px;
}

.footer
{
    margin-top: 50px;
    padding-top: 15px;
    border-top: 1px solid #efefef;
    font-size: smaller;
    color: #999;
}

.footer-links
{
    list-style: none;
    padding-left: 0;
}

.footer-links li
{
    display: inline;
    padding: 0 2px;
}