---
layout: page
title: Documents
description: Always your best way to start the journey with MXFramework.
group: navigation
weight: 4
---
{% include JB/setup %}

<div class="container">
    <div class="row">
        <div class="col-xs-5">
            <h2>Learning MXFramework</h2> 
            <ul class="link-list">
            {% assign pages_list = site.pages %}
            {% assign group = "document" %}
            {% include JB/pages_list %}
            </ul>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-5">
            <h2>References</h2>
            <ul class="link-list">
                <li><a href="../api/">MXFramework API documents</a></li>
                <li><a href="cheat-sheet.html">MXFramework Cheat Sheet</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <h2>Deep dive in MXFramework</h2>
            <ul class="link-list">
                <li><a href="build-a-master-detail-view.html">Build A Master-Detail View</a></li>
            </ul>
            <div class="col-xs-2"></div>
            <div class="col-xs-5"></div>
        </div>
    </div>
</div>